.footer {
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}

.footer .text {
  font-size: 1.2em;
  font-weight: 600;
}

.footer .ico {
  padding: 0 0.5rem;
  opacity: 0.6;
}

.footer .ico:hover { opacity: 1; }